<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net452" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.0.1" targetFramework="net452" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="ZetaIpc" version="1.0.0.5" targetFramework="net452" />
</packages>